<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=
    , initial-scale=1.0">
    <title>Recipes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>Recipes</h1>
    <ul>
      <% recipes.forEach(function(r) { %>
        <li>
            <a href="/todos/<%= t.id %>"><%= r.recipe %></a>
            - 
          <%= r.done ? 'done' : 'not done' %>
        </li>
      <% }); %>
    </ul>
</body>
</html>